body {
    background-image: url('plantasfondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    height: 17vh;
    background-color: rgba(181, 217, 189, 0.545);
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.header1,
.header2,
.header3 {

    width: 33%;
    height: 100%;
    gap: 1px;
    display: flex;
    flex-direction: column;
}

.header1-link1,
.header1-link2 {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(3, 101, 0);
    transition: 0.2s;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 2rem;
}

.header1-link1:hover,
.header1-link2:hover {
    transition: 0.2s;
    color: rgb(142, 255, 178);
    text-decoration: underline;
}

.header1-link1:active,
.header1-link2:active {
    transition: 0.2s;
    color: rgb(4, 255, 92);
    text-decoration: underline;
}

.header2 {
    justify-content: center;
    align-items: center;
}

.header2-text {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    font-size: 4rem;
    color: rgb(3, 101, 0);
    text-decoration: underline;
}

.header3 {
    justify-content: space-around;
    align-items: self-end;
    flex-direction: column;
}

.header3-links1,
.header3-links2 {
    margin-right: 2rem;
}

.container-utilities {
    width: 100%;
    height: 5vh;
    position: sticky;
    background-color: rgb(74, 99, 74);
    border-bottom: 1px solid black;
    top: 0;
}

.container-utilities {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.links-sticky-container {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    transition: 0.2s;
}

.links-sticky-container:hover {
    color: rgb(123, 255, 125);
    transition: 0.1s;
}

.container-fotos {
    width: 100%;
    height: 84vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 73, 0);
}

.foto-izq-container {
    background-image: url('plantas1.jpg');
    width: 70vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-izq-text {
    font-family: "Pacifico", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    color: aliceblue;
    text-shadow: 3px 2px 5px black;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.foto-izq-text2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1rem;
    color: aliceblue;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.fotos-dcha-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 30vw;
}



.foto-arriba {
    background-image: url('plantas2.jpg');
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 100%;
    transition: 0.7s;
}

.foto-arriba:hover {
    background-image: url('plantas3.jpg');
    transition: 0.7s;
    cursor: pointer;
}

.foto-abajo {
    background-image: url('plantasia.jpg');
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 100%;
    transition: 0.7s;
}

.foto-abajo:hover {
    background-image: url('plantas4.jpg');
    transition: 0.7s;
    cursor: pointer;
}

.foto-izq-text3 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    color: aliceblue;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.contactar-boton {
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(0, 99, 66);
    padding: 15px;
    border: 1px solid rgb(0, 43, 18);
    font-size: 2rem;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: 0.2s;
    margin-top: 1.3rem;
}

.contactar-boton:hover {
    font-size: 2.3rem;
    transition: 0.2rem;
    background-color: rgb(142, 255, 166);
}

.contactar-boton:active {
    font-size: 1.8rem;
    transition: 0.1s;
    background-color: rgb(0, 50, 33);
    color: gray;
}

.contactar-boton:visited {
    color: rgb(162, 162, 162);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 33%;
    align-items: center;
}

td,
th {
    border: 2px solid #144700;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #025b2a;
}

.tabla {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: aliceblue;
    padding: 0px 60px 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: -500px;
}

form{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-formulario {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(6, 179, 0);
    text-align: center;
    margin-bottom: 20px;
    
}

.formulario {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.5); 
}

.fieldset {
    border: 2px solid rgb(6, 181, 0);
    padding: 20px;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.5); 
    background-color: #025b2a;
}

.legend {
    font-weight: bold;
    color: rgb(8, 228, 0);
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.5); 
}

.label {
    color: rgb(7, 219, 0);
    font-size: 18px;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.5); 
}

.input, .select, .textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.select {
    padding: 5px;
    margin-bottom: 10px;
}

.textarea {
    padding: 5px;
}

.radio {
    margin-right: 10px;
}

.checkbox {
    margin-right: 10px;
}

.boton-enviar, .boton-reset, .boton-volver {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(4, 128, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.boton-enviar:hover, .boton-reset:hover, .boton-volver:hover {
    background-color: darkgreen;
}

.formulario-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}